.cart-dropdown-container {
    position: absolute;
    width: 240px;
    height: 340px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid black;
    background-color: white;
    top: 90px;
    right: 40px;
    z-index: 5;

    .empty-message {
        font-size: 18px;
        margin: 50px auto;
    }

    .cart-items {
        height: 240px;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        scrollbar-width: thin; /* For Firefox */
        scrollbar-color: transparent transparent; /* For Firefox */
        ::-webkit-scrollbar {
            width: 8px; /* Adjust scrollbar width if needed */
        }
        ::-webkit-scrollbar-track {
            background: transparent;
        }
        ::-webkit-scrollbar-thumb {
            background-color: transparent;
        }
        :hover::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, 0.5); /* Adjust color and opacity */
        }
    }
    button {
        margin-top: auto;
    }
}
